<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>

  <body>
    <header></header>
    <div class="container">
      <div class="box box-1">
        <img src="../assets/image.png" id="place" />
      </div>
      <div class="box box-2">
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <label for="city">Enter Your Desired Location:</label>
          <input
            id="city"
            type="text"
            name="input"
            value=""
            onblur="onBlur()"
            placeholder="City"
          />
          <label for="date">Travel Date:</label>
          <input id="date" type="date" name="" />
          <input
            id="btn"
            type="submit"
            name=""
            value="SUBMIT"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
        <div id="info"></div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
