body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightblue;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

div {
    color: black;
}

#results,
#text,
#score_tag,
#agreement,
#subjectivity,
#confidence,
#irony {
    margin-top: 20px;
}

#btn {
    background: #ce99d6;
    color: white;
    font-size: 23px;
    height: 39px;
    width: 20%;
    margin-left: 39%;

}

strong {
    margin-left: 44%;
}

#btn:active {
    background: black;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.box {
    width: 30%;
    height: 165px;
}

.box.box-2 {
    width: 49%;
    height: 500px;
    border-radius: 2%;
}

#place {
    height: 269%;
    width: 100%;
    padding: 0 51px 0px -12px;
    border-radius: 2%;
}

#city,
#date {
    line-height: 9px;
    margin: 10px 0 0 10%;
    padding: 5px 20px;
    width: 80%;
    height: 11%;
    font-size: 21px;
}

#date {
    line-height: 24px;
}

#btn {
    background: #fff;
    color: #000;
    height: 12%;
    width: 20%;
    margin-left: 39%;
    margin-top: 2%;
   
}

#info {
    #weather-description {
        font-size: 26px;
        padding: 0 0 0px 37%;
    }
}

p {
    font-size: 141%;
    
    margin-top: 21px;
    margin-left: 89px;
}

.box.box-2 {
    width: 49%;
    height: 500px;
    background-color: lightblue;
}

label {
    display: block;
    margin: 29px 0 0 65px;
    font-size: 20px;
}

@media  (max-width:280px){
    .container {
        flex-direction: column-reverse;
        margin-left: 17px;
    }
    .box.box-2 {
        width: 92%;
        height: 343px;
        background-color: bisque;
    }
    .box {
        width: 139px;
        height: 43px;
    }
    #place {
        height: 473%;
        width: 181%;
        margin-top: 9px;
    }
    .box.box-2 {
        width: 96%;
        height: 400px;
        background-color: bisque;
    }
    label {
        margin: 6px 0 0 1px;
        font-size: 13px;
    }
    #city, #date {
        line-height: 9px;
        margin: 4px 0 0 1%;
        padding: 3px 6px;
        width: 82%;
        height: 11%;
        font-size: 12px;
    }
    #btn {
        background: #fff;
        height: 12%;
        width: 47%;
        margin-left: 16%;
        margin-top: 2%;
    }
    p {
        font-size: 100%;
        margin-left: 10px;
    }
    #info #weather-description {
        padding: 0 0 0px 11%;
    }
}

@media (min-width:359px) and (max-width:415px) {
    .box.box-2 {
        width: 89%;
        height: 496px;
        background-color: bisque;
        margin-left: 29px;
    }

    #place {
        height: 207%;
        width: 494%;
        padding: 0 51px 0px -12px;
        border-radius: 2%;
        margin-left: 28px;
        margin-top: 13px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        flex-direction: column-reverse;
    }

    p {
        margin-left: 25px;
    }

    #info #weather-description {
        padding: 0 0 0 21%;
    }

    #btn {
        width: 43%;
        margin-left: 26%;
        font-size: 158%;
        margin-bottom: 0px;
    }

    label {
        margin: 22px 0 11px 32px;
    }

    #city,
    #date {
        width: 79%;
        margin: 11px 0 0 10%;
    }

}
@media (min-width:1023px) and (max-width:1280px){
    .container {
        margin-top: 6%;
    }
    label {
        margin: 30px 0 0 65px;
    }
    #btn {
        background: #fff;
        color: white;
        font-size: 150%;
        height: 12%;
        width: 25%;
        margin-left: 36%;
        margin-top: 2%;
        
    }
    p {
        font-size: 141%;
       
        margin-top: 21px;
        margin-left: 44px;
    }
    #info #weather-description {
        font-size: 26px;
        padding: 0 0 0px 32%;
        
    }
}

@media (min-width:416px) and (max-width:913px) {

    .container {
        flex-direction: column-reverse;
        margin-left: 2%;
        margin-top: 10%;
    }
    .box.box-2 {
        width: 97%;
        margin-top: -49px;
    }
    #place {
        width: 539%;
        margin-top: 17px;
        height: 287%;
    }
    #city, #date {     
        margin: 1% 0 0 8%;
    }
    label {
        margin: 1% 0 1% 65px;
    }

}

@media (min-width:539px) and (max-width:730px){
    #btn {
        background: #fff;
        color: white;
        font-size: 214%;
        height: 12%;
        width: 30%;
        margin-left: 31%;
        margin-top: 2%;
        
    }
    label {
        margin: 1% 0 1% 8%;
    }
    p {
        margin-left: 23px;
    }
    #info #weather-description {
        padding: 0 0 0px 28%;}
        #city, #date {
            margin: 1% 0 1% 8%;
        }
}

